<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267874755925-aedb460ja1g5fpb8qsf42lj2jpook7c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267874755925-aedb460ja1g5fpb8qsf42lj2jpook7c3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>267874755925-qktvjlei3oi70ubphj88ff1vh1ac7cgt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4FK5zkhLDDI9oNjZH9MiwVu2sLJfytBc</string>
	<key>GCM_SENDER_ID</key>
	<string>267874755925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniPaymentApp</string>
	<key>PROJECT_ID</key>
	<string>paymentapp-3ad66</string>
	<key>STORAGE_BUCKET</key>
	<string>paymentapp-3ad66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267874755925:ios:0b482ab5f2bc5a5c707bdc</string>
</dict>
</plist>